@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font--roboto-mono: "Roboto Mono", monospace;
    /* Colors */
    --cc-text-color-primary: #FFFFFF;
    --cc-text-color-secondary: #D5D5D5;
    --cc-background-color-primary: #121212;
    --cc-background-color-secondary: #595959;
    --cc-accent-color-primary: red;
    --cc-accent-color-secondary: #0B940B;
}

body {
    background-color: var(--cc-background-color-primary) !important;
    color: var(--cc-text-color-primary) !important;
    z-index: 2 !important;
}