#event {
    position: relative;
    z-index: 10 !important;
}

.event-container {
    margin-top: 2rem;
}

.event-card {
    background-color: var(--cc-background-color-secondary);
    border-radius: 5px;
    min-height: 6rem;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-align: right;
}

.event-card h2 {
    font-size: 1.4rem;
    margin: 3px;
    padding: 3px;
    color: var(--cc-accent-color-primary);
}

.event-card p {
    font-size: 0.8rem;
    margin: 3px;
    padding: 3px;
    color: var(--cc-text-color-secondary);
}

.event-card.active {
    background-color: var(--cc-text-color-secondary);
}

.event-card.active p {
    color: var(--cc-background-color-primary);
}

#event .desc-container {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

#event .desc-conatiner p {
    color: var(--cc-text-color-secondary);
}

#event .desc-container h1 {
    color: var(--cc-accent-color-primary);
}

#event .desc-container .register-btn {
    margin: 2rem 0 0 0;
}

#event .desc-container label {
    color: var(--cc-text-color-secondary);
    font-size: 0.6rem;
}

@media screen and (max-width: 768px) {
    #event .desc-container {
        text-align: center;
    }
    #event .desc-container .register-btn {
        margin: 2rem auto 0 auto;
    }
    .event-card {
        text-align: center;
    }
}